html, body {
  margin: 0;
  padding: 0;
  --main-bk: #E8E8E8;
  --main-sd: #A8A8A8;
  --main-link: #0047AB;
  background: var(--main-bk);
  font-family: 'Microsoft YaHei', -apple-system, 'Segoe UI', 'PingFang SC', Helvetica, Arial;
}

a {
  text-decoration: none;
  color: var(--main-link);
}

img {
  display: flex;
  max-width: 100%;
}

.header, .main, .footer {
  box-sizing: border-box;
  padding: 0 20px;
}

.header {
  box-shadow: 0px 2px 8px var(--main-sd);
  text-align: center;
}

.header_title {
  margin: 0;
  padding: 20px 0;
  color: #665757;
  font-size: 32px;
  border: none;
}

.main {
  min-height: 620px;
  margin: 32px 0;
}

.articlelists {
  list-style: none;
  padding: 0;
}

.articletitle {
  padding: 8px 20px;
  box-shadow: 0 0 2px var(--main-sd);
}

.footer {
  text-align: center;
  box-shadow: 0px 2px 8px var(--main-sd);
  word-break: break-word;
}

.footer_ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.footer_li {
  list-style: none;
  margin: 12px 20px;
}